video-subscribers {
  display: flex;
}

.OT_publisher {
  border: 4px solid #000000;
  border-radius: 4px;
  
  margin: 0 auto;

  width: calc(100vw - 30vw) !important;
  height: 30vh !important;
  max-width: 70vw !important;
}

.OT_subscriber  {
  border: 4px solid #000000;
  border-radius: 4px;
  margin: 0 auto;

  width: calc(100vw - 30vw) !important;
  height: 30vh !important;
  max-width: 70vw !important;
}

@media (min-width: 1366px) {
  
.OT_publisher {
  width: 30vw !important;
  max-width: 70vw !important;
}

.OT_subscriber  {
  width: 30vw !important;
  max-width: 70vw !important;
}
}